@model IEnumerable<SqzEvent.Models.BreakdownReport>
<div class="list-block">
    <ul>
        @foreach (var item in Model)
        {
            <li class="swipeout">
                <div class="swipeout-content item-content">
                    <div class="item-inner">
                        <div class="item-title">@Html.Encode(item.QCEquipment.SimpleName)</div>
                        <div class="item-after">@Html.Encode(item.BreakDownTime.ToString("HH:mm"))</div>
                    </div>
                </div>
                <div class="swipeout-actions-right">
                    <a href="#" class="action1">删除</a>
                </div>
            </li>
        }
    </ul>
</div>
