@model SqzEvent.Models.QC_ForceRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寿全斋质检员-注册</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PA-Site.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: #eee;
            margin: 50px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="text-center col-xs-6">
                <div class="login-logo img-responsive">
                    <img src="~/Content/images/period-aid-logo.png" class="img-responsive img-circle" />
                    <h4 class="primary">寿全斋质检员注册</h4>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "姓名" } })
                            @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;册&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-default btn-danger btn-pr btn-lg" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script>


    </script>
</body>
</html>
