@model SqzEvent.Models.QCEquipment
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">@Html.Encode(Model.SimpleName)</div>
        <div class="right">
            <a href="/QualityControl/Manager_CreateBreakdowm?Fid=@Model.FactoryId&&Eid=@Model.Id">
                <span>添加故障</span>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager_equipmentdetails" id="manager_equipmentdetails">
        @Html.HiddenFor(m => m.Id);
        <div class="page-content">
            <div class="card facebook-card">
                <div class="card-header">
                    编号:@Html.Encode(Model.ModelNumber)
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <p class="color-gray">生产时间:@Html.Encode(Model.ManufactureDate)</p>
                        <p>@Html.Encode(Model.Subscribe)</p>
                    </div>
                </div>              
            </div>
            <div class="content-block-title">故障列表</div>
            <div id="breakdowm-list">
            </div>
        </div>
    </div>
</div>

