@model IEnumerable<SqzEvent.Models.MonthSchedule>
@using SqzEvent.Models;

@foreach (FactoryGroup group in ViewBag.FG)
{
    <div class="content-block-title">@Html.Encode(group.FactoryName)</div>
    <div class="list-block">
        <ul>
            @foreach (var item in Model.Where(m => m.FactoryId == group.FactoryId))
                {
                    if (item.ProductId != 0)
                    {
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">@Html.Encode(item.ProductName)</div>
                            <div class="item-after">@Html.Encode(item.Qty) / @Html.Encode(item.ProductionPlan)</div>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="list-block-label" style="text-align:right"><a href="/QualityControl/Manager_ProductionDetails?fid=@group.FactoryId" class="production-details">查看分日明细</a></div>
    </div>
        <div></div>
}


