@model IEnumerable<SqzEvent.Models.RegularTest>
    <div class="content-block-title">
    设备故障列表
</div>
<div class="list-block media-list bottom-list">
    <ul>
        @foreach (var item in Model)
            {

            <li>
                <a href="javascript:;" class="item-link qc-photos" data-photos="@item.Photo">
                    <div class="item-inner item-content">
                        <div class="item-title">签到图片</div>
                        <div class="item-after">点击查看</div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>