@model IEnumerable<SqzEvent.Models.Manager_HomeViewModel>
@{
    ViewBag.Title = "实时状态";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>质检管理员首页</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/framework7.ios.min.css" rel="stylesheet" />
    <!-- Path to Framework7 iOS related color styles -->
    <link href="/Content/framework7.ios.colors.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/QualityControl_Manager.css" rel="stylesheet" />

</head>
<body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay">
    </div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal left-nav" id="userinfo">
    </div>
    <!-- Views-->
    <div class="views tabs">
        <!-- Your main view, should have "view-main" class-->
        <div class="view view-main tab active" id="homeView" data-page="homeView">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We have home navbar without left link-->
                    <div class="center sliding">@ViewBag.Title</div>
                    <div class="right">
                        <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                    </div>
                </div>
            </div>
            <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, data-page contains page name-->
                <div data-page="Home" class="page">
                    <!-- Scrollable page content-->
                    <div id="home-refresh" class="page-content">
                        <div class="list-block accordion-list top-list">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <a href="/QualityControl/Manager_AgendaDetails?fid=@item.FactoryId&date=@ViewBag.Today" class="item-content item-link home-link">
                                            <div class="item-inner">
                                                <div class="item-title">
                                                    @Html.Encode(item.FatoryName)
                                                    @if (item.Tips)
                                                    {
                                                        <div class="weui-badge weui-badge-dot"></div>
                                                    }
                                                </div>
                                                <div class="item-after"><span id="checkstatus">@Html.Encode(item.Status==true?"已签到":"未签到")</span></div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="/QualityControl/Manager_Home" class="icon-link active">
                    <i class="icon fa fa-refresh"></i>
                    <span class="tabbar-label">实时状态</span>
                </a>
                <a href="/QualityControl/Manager_History" class="icon-link">
                    <i class="icon fa fa-history"></i>
                    <span class="tabbar-label">历史记录</span>
                </a>
                <a href="/QualityControl/Manager_Plan" class="icon-link">
                    <i class="icon fa fa-check-square-o"></i>
                    <span class="tabbar-label">生产计划</span>
                </a>
                <a href="/QualityControl/Manager_Setting" class="icon-link">
                    <i class="icon fa fa-cog"></i>
                    <span class="tabbar-label">设置</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script src="~/Scripts/framework7.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script src="~/Scripts/qualitycontrol_manager.js?v=1.7.7"></script>
</body>
</html>

