@model IEnumerable<SqzEvent.Models.QualityTest>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/QualityControl/Manager_QualityTestDetail?qtid=@item.Id" class="item-link item-content">
                <div class="item-inner">
                    <div class="item-title">@Html.Encode(item.Product.SimpleName)</div>
                    <div class="item-after">@Html.Encode(item.ProductionQty)</div>
                </div>
            </a>
        </li>
    }
</ul>
