@model IEnumerable<SqzEvent.Models.RegularTest>
    <div class="content-block-title">
    定期检测列表
</div>
    <ul>
        @foreach (var item in Model)
            {
            <li>
                <a href="javascript:;" class="item-link qc-photos item-content" data-photos="@item.Photo">
                    <div class="item-inner">
                            <div class="item-title">
                                @Html.Encode(item.Product.SimpleName)
                            </div>
                            <div class="item-after">@Html.Encode(item.ApplyDate.ToString("MM-dd"))</div>
                        </div>
                </a>
            </li>
        }
    </ul>