@model IEnumerable<SqzEvent.Models.Product>

<div class="content-block-title">生产计划</div>
<div class="list-block">
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title label">活动时间</div>
                    <div class="item-input">
                        <input type="digits" id="@item.ProductCode" name="@item.ProductCode" placeholder="请输入数量" />
                    </div>
                    <div class="item-after">盒</div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>