<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">添加日程</div>
        <div class="right">
            <a href="javascript:;" id="addschedule-submit" class="link">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="Add-schedule" id="add-schedule">
        <div class="page-content">
            @using (Html.BeginForm("Manager_AddSchedule", "QualityControl", FormMethod.Post, new { @id = "manager_addschedule-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">选择时间</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="DateList" name="DateList" placeholder="选择时间" value="@DateTime.Now.ToString("yyyy-MM")"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="smart-select item-link" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="工厂名称" data-searchbar-cancel="取消">
                                @Html.DropDownList("FactoryId", ViewBag.FactoryDropdown as SelectList, "-请选择-", new { @class = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after smart-select-value">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="smart-select item-link" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="箱规搜索" data-searchbar-cancel="取消" data-searchbar="true">
                                <select id="ProductClassId" name="ProductClassId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择箱规</div>
                                        <div class="item-after smart-select-value">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="smart-select item-link" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="产品搜索" data-searchbar-cancel="取消" data-searchbar="true">
                                <select id="ProductId" name="ProductId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择产品</div>
                                        <div class="item-after smart-select-value">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tempalate-content" id="tempalate-content"></div>
            }
        </div>
    </div>
</div>
