@model SqzEvent.Models.AgendaDetailsViewModel
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">@Html.Encode(Model.FactoryName)</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="Manager_agendadetails" id="manager_agendadetails">
        <div class="page-content">
            @Html.HiddenFor(m=>m.FactoryId)
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">选择日期</div>
                            <div class="item-input">
                                @Html.TextBoxFor(m=>m.SelectDate, new { placeholder= "-请选择-", @class="item-input-right", required="required"})
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tempalate-select"></div>
            <div class="tempalate-info"></div>
        </div>
    </div>
</div>

