<div class="navbar">
    <div class="navbar-inner">
        <!-- We have home navbar without left link-->
        <div class="center sliding">设置</div>
    </div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, data-page contains page name-->
    <div data-page="Setting" class="page" id="Setting">
        <!-- Scrollable page content-->
        <div class="page-content">
            <div class="list-block top-list">
                <ul>
                    <li>
                        <a href="/QualityControl/Manager_QCEquipmentList" class="item-link item-content">
                            <div class="item-media"><i class="fa fa-list-alt icon-css" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">设备列表</div>
                                <div class="item-after"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/QualityControl/Manager_BreakdownList" class="item-link item-content">
                            <div class="item-media"><i class="fa fa-list-alt icon-css" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">设备故障列表</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




