
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寿全斋质检员-错误</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: #eee;
            margin: 50px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="text-center col-xs-6">
                <div class="login-logo img-responsive">
                    <img src="~/Content/Content/images/period-aid-logo.png" class="img-responsive img-circle" />
                    <h4 class="primary">未找到指定信息</h4>
                    <div class="h6">请关闭页面后重试...</div>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</body>
</html>
