<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">生产计划</div>
        <div class="right">
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="productionplan">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">选择时间</div>
                                <div class="item-input">
                                    <input type="text" class="item-input-right" id="productionplan-date" name="productionplan-date" placeholder="选择时间" value="@DateTime.Now.ToString("yyyy-MM")" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="productionplan-content" class="list-content">

            </div>
        </div>
    </div>
</div>
