<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">产品检验列表</div>
        <div class="right">
            <a href="/QualityControl/AddQualityTest" class="link">新增</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="qualitytestlist">
    </div>
</div>
