@model SqzEvent.Models.RegularTest
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">厂检报告</div>
        <div class="right">
            <a href="/QualityControl/QualityRegularTest" class="link" id="factorytest-submit">新增</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="factorytestlist" id="factorytestlist">
        <div class="page-content">
            <div class="list-block top-list-2">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" id="factory-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消">
                            @Html.DropDownListFor(m => m.FactoryId, ViewBag.FactoryList as SelectList, "- 请选择 -", new { @class = "required" })
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">选择工厂</div>
                                    <div class="item-after">- 请选择 -</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-block" id="factorytest-list">

            </div>
        </div>
    </div>
</div>