@model SqzEvent.Models.QC_StaffViewModel

<div class="img-center">
    <div class="row">
        <!-- Each "cell" has col-[widht in percents] class -->
        <div class="col-40">
            @if (Model.ImgUrl == null)
            {
                <img src="/Content/images/logo_new.png" class="img-circle img-responsive" id="user-imgurl" />
            }
            else
            {
                <img src="@Model.ImgUrl.Replace("http:","https:")" class="img-circle img-responsive" id="user-imgurl" />
            }
        </div>
        <div class="col-40">
            <div style="margin:10px 0;"><span id="user-nickname" class="h4">@Html.Encode(Model.NickName)</span></div>
            <a href="/QualityControl/UpdateUserInfo" class="button active h6 external">更新头像</a>
        </div>
        <div class="col-20"></div>
    </div>
</div>

<div class="list-block h5">
    <ul>
        <li class="item-content list-panel-all">
            <div class="item-inner">
                <div class="item-title">真实姓名</div>
                <div class="item-after">@Html.Encode(Model.Name)</div>
            </div>
        </li>
        <li class="item-content list-panel-all">
            <div class="item-inner">
                <div class="item-title">联系电话</div>
                <div class="item-after">@Html.Encode(Model.Mobile)</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">当前版本</div>
                <div class="item-after">v1.7.0</div>
            </div>
        </li>
    </ul>
</div>

