
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>寿全斋红糖姜茶微信支付</title>
    <meta name="author" content="寿全斋电子商务有限公司">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../Content/images/tjh_wechatpay_background.jpg');
            background-size:100%;
        }
        .wrap{
            margin-top:5.565rem;
            position:relative;
            padding-top:2rem;
        }
        .content{
            background-color:rgba(249, 218,174,0.8);
            padding:60px 0 0 0;
            top:0;
            left:0;
            right:0;
            margin:40px 20px 0 20px;
            position:absolute;
            color:#000;
            height:25rem;
            border-radius:10px;
        }
        .num{
            height:16rem;
        }
        .btn-box{
            height:4rem;
        }
        .logo img{
            text-align:center;
            width:80px;
            height:80px;
        }
        .logo{          
            text-align:center;
            z-index:999;
            margin:0 auto;
            top:0;
            left:0;
            right:0;
            position:absolute;
            height:80px;
        }
        #start_pay:hover,#start_pay:focus{
            color:#000 !important;
        }
       .btn{
            background-color:#a41b37;
            color:#fff;
        }
        h3{
            margin:0;
        }

    </style>
</head>
<body>
    <div class="hidden">
        <span id="openid">@ViewBag.OpenId</span>
        <span id="prepay_id"></span>
        @Html.AntiForgeryToken()
    </div>
    <div class="container wrap">
        <div class="row logo">
            <div class="col-xs-12">
                <div class="col-xs-4"></div>
                <div class="logo col-xs-4">
                    <img src="~/Content/images/logo_new.png" />
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
        <div class="content text-center" id="before-pay">
            <div class="num">
                <h3 id="order-money"  style="padding:40px;">支付金额:&nbsp;<span>&yen;&nbsp;</span><span>200</span></h3>
            </div>
            <div class="btn-box">
                <a class="btn" id="start_pay">立即支付</a>
            </div>
        </div>
        @*<div class="content text-center hidden" id="after-pay">
            <div class="num">
                <h3 id="order-id">订单号:&nbsp;<span>&yen;&nbsp;</span><span>13456785244</span></h3>
                <h3 id="order-money" style="padding:20px 0px;">支付金额:&nbsp;<span>&yen;&nbsp;</span><span>200</span></h3>
            </div>
            <div class="btn-box">
                <a class="btn" id="start_pay">立即支付</a>
            </div>
        </div>*@
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function callpay(appId, timeStamp, nonceStr, _package, paySign) {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": appId,     //公众号名称，由商户传入
                    "timeStamp": timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr": nonceStr, //随机串
                    "package": _package,
                    "signType": "MD5",         //微信签名方式:
                    "paySign": paySign //微信签名
                },
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        window.location.href = "/Promotion/Tjh_WechatPay_Success?" + _package;
                    }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                }
            );
        }
        function onBridgeReady() {
            $("#start_pay").click(function () {
                $.ajax({
                    url: "/Promotion/Tjh_WechatPay_SetMoney",
                    data: {
                        __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
                        "_openId": $("#openid").text(),
                        "body": "寿全斋 红糖姜茶微信支付"
                    },
                    type: "post",
                    success: function (data) {
                        $.ajax({
                            type: "get",
                            url: "/Pay/createPay",
                            data: {
                                "prepay_id": data.prepay_id
                            },
                            success: function (data) {
                                alert("3");
                                if (data.result == "SUCCESS") {
                                    var _appId = data.appid;
                                    var _timeStamp = data.timeStamp;
                                    var _nonceStr = data.nonceStr;
                                    var _package = data.package;
                                    var _paySign = data.paySign;
                                    callpay(_appId, _timeStamp, _nonceStr, _package, _paySign);
                                    result = true;
                                }
                                else if (data.result == "FAIL") {
                                    alert("false");
                                }
                            }
                        });
                    }
                });
            });
        }
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
</body>
</html>
