
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>春糖会 报名完成</title>
</head>
<style>
    .finish {
          font-weight:700;
          color:#fff;
          padding:20% 0;
          width: 100%;
          height: 100%;
          z-index: 999;
          background: url('../../Content/images/bg0042.png') repeat-x;
        }
</style>
<body>
    <div> 
        报名完成
    </div>
</body>
</html>
