@model SqzEvent.Models.Tjh_UserAttendance

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Tjh_UserAttendance_Register</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>

        .container {
            display: table;
            height: 100%;    
        }
        .input-group-md{
            margin-bottom:0.5rem;
        }
        .well h1,.well small{
            color:#fff;
        }
        .well{
            background-color:rgba(0,0,0,.2) !important;
        }
        #qudaoid{
           color: #555;
           text-align: center;
           background-color: #eee;
           border: 1px solid #ccc;
           border-radius: 4px;
           cursor:none;
               display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
        }
        .input-group-md label{
            margin-left:15px;
        }
        select{
            -webkit-appearance: none; /*for chrome*/
        }
  
    </style>

</head>
<body>  
@*@using (Html.BeginForm("Tjh_UserAttendance_Register", "Promotion", FormMethod.Post, new { @class = "validate-form", id = "create-form" }))
{
    <div class="weui_cells_tips"><h1>春堂会<small>报名</small></h1></div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" required="" pattern="[0-9]{11}" maxlength="11" placeholder="输入你的姓名" emptytips="请输入姓名" notmatchtips="请输入正确的手机号">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div> 
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">电话号码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" required="" pattern="[0-9]{11}" maxlength="11" placeholder="输入你的手机号码" emptytips="请输入姓名" notmatchtips="请输入正确的手机号">
                </div>
                <div class="weui_cell_ft">
                    <i class="weui_icon_warn"></i>
                </div>
            </div> 
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">地区:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" value="" id="ssx" readonly="">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label for="" class="weui_label">渠道:</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" value="" id="text2" readonly="">

                </div>

            </div>           
        </div>
        
        <div class="weui_btn_area">
            <a id="formSubmitBtn" href="javascript:" class="weui_btn weui_btn_primary">提交</a>
        </div>
}*@
   
        <div class="container">
            <div class="row">
                <div class="col-md-12 well">
                        <h1>春堂会<small>报名</small></h1>
                    @using (Html.BeginForm("Tjh_UserAttendance_Register", "Promotion", FormMethod.Post, new { @class = "validate-form", id = "create-form" }))
                    {

                        <div class="input-group input-group-md">
                            <span class="input-group-addon">姓名</span>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "请输入" })
                        </div>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon">手机</span>
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @placeholder = "请输入", @type = "tel" })
                        </div>                       
                        <div class="input-group input-group-md col-xs-12">
                            <div class="col-xs-4 row" style="padding-right:0"><span id="qudaoid">区域</span></div>
                            <div class="col-xs-4" style="padding-right:0">
                            <select class="form-control">
                                <option>- 省 -</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                            <div class="col-xs-4"style="padding-right:0">
                                <select class="form-control" >
                                    <option>- 市 -</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>                                                   
                        </div>
                        <div class="input-group input-group-md col-xs-12">
                            <span   id="qudaoid">渠道</span>
                            <label class="checkbox-inline ">
                                <input type="checkbox" id="SalesChannel" value="1"> KA
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="SalesChannel" value="2"> 流通
                            </label>
                        </div>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon">推荐人</span>
                            @Html.TextBoxFor(m => m.RecommandUser, new { @class = "form-control", @placeholder = "请输入" })
                        </div>
                    }
                    
                    <br />
                    <button type="submit" class="btn btn-success btn-block">立即报名</button>
                </div>
            </div>
        </div>
</body>
</html>
<script>
    $(function () {
       






    });
</script>