@model SqzEvent.Models.WxPaymentOrder
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>寿全斋红糖姜茶微信支付</title>
    <meta name="author" content="寿全斋电子商务有限公司">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('/Content/images/tjh_wechatpay_background.jpg');
            background-size: 100%;
        }

        .wrap {
            margin-top: 5.565rem;
            position: relative;
            padding-top: 2rem;
        }

        .content {
            background-color: rgba(249, 218,174,0.8);
            padding: 40px 0 0 0;
            top: 0;
            left: 0;
            right: 0;
            margin: 40px 20px 0 20px;
            position: absolute;
            color: #000;
            border-radius: 10px;
        }

        .num {
            padding: 20px;
        }

        .btn-box {
            height: 4rem;
            color: #fff;
        }

        .logo img {
            text-align: center;
            width: 80px;
            height: 80px;
        }

        .logo {
            text-align: center;
            z-index: 999;
            margin: 0 auto;
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            height: 80px;
        }

        h3 {
            margin: 0;
            color: #a41b37;
        }

        .content-info {
            color: #666;
            font-size: 12px;
            text-align: left;
            padding: 0 20px;
            margin-bottom: 30px;
            line-height: 20px;
        }
    </style>
</head>
<body>
    <div class="container wrap">
        <div class="row logo">
            <div class="col-xs-12">
                <div class="col-xs-4"></div>
                <div class="logo col-xs-4">
                    <img src="~/Content/images/logo_new.png" class="img-circle" />
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
        <div class="content text-center" id="after-pay">
            <div class="num">
                <h3><b>支付成功</b></h3>
            </div>
            <div class="content-info">
                产品名称：@Html.Encode(Model.Body)<br />
                订单号：@Html.Encode(Model.Trade_No)<br />
                支付时间：@Html.Encode(Model.Time_Start.ToString("yyyy-MM-dd HH:mm:ss"))
            </div>
        </div>
    </div>
</body>
</html>
