/*全局样式*/
.item-input-right {
    text-align: right;
}
.list-block{
    margin:0;
}
.content-block-title+.list-block{
    margin:0;
}
.top-list{
    margin-top:30px;
}
.top-list-2{
    margin-top:30px;
}
.content-block-title+.bottom-list,.bottom-list{
    margin-bottom:50px;
}
textarea.h5{
    font-size:14px;
}

/*工具样式*/
.hidden {
    display: none;
}
.color-red{
    color:red;
}
.color-green{
    color:green;
}
.color-blue{
    color:#007aff;
}
.bg-blue{
    background-color:#007aff;
}
/*个人信息展示页样式*/
.external {
    width: 80px; 
}
.img-center {
    margin: auto auto;
    padding: 20px;
    font-size: 16px;
    color: lightgray;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.leftnav-margin-10 {
    margin: 10px 0;
}

.left-nav ul {
    background-color: #111;
    color: lightgrey;
}

.list-block ul.rep-imglist {
    padding: 0;
}

    .list-block ul.rep-imglist li {
        float: left;
    }

.rep-imgitem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: solid #ccc 1px;
    margin: 10px;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #ccc;
    display: block;
}

.rep-imgitem-selected {
    opacity: 0.5;
    color: #fff;
    background-color: #000;
}

.rep-imgitem-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: solid #ccc 1px;
    margin: 10px;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #ccc;
    display: block;
}

.sellertasklist-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    border-radius: 5px;
}

.list-block ul.rep-imglist {
    padding: 0;
}
/*图表样式*/
.fa{
    font-size:24px;
    padding:2px 1px;
}
.icon-css{
   color: #007aff;
}
.icon-link{
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*设置页样式*/
#setting-date{
    color:#000;
}
.uncomplete{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:100%;
    background-color:red;
}
.complete{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:100%;
    background-color:green;
}
.event-destribe{
    text-align:center;
}
.date-content{
    margin:10px 0 0 0 ;
}
.picker-calendar{
    height:280px;
}
.red-border{
border-bottom:1px solid green;
}
.green-border{
    border-bottom:1px solid green;
}
span.picker-calendar-day-green {
    background: green;
    color:#fff;
}
span.picker-calendar-day-red {
    background:red;
    color:#fff;
}
span.picker-calendar-day-gray{
    background:#cccccc !important;
}
.list-describe{
    margin:20px 0 50px 0;
}
/*验证失败错误样式*/
input[type="text"].invalid-input, input[type='tel'].invalid-input,input[type='number'].invalid-input, input[type='digits'].invalid-input {
    background-color: rgb(211, 31, 31);
}

textarea.invalid-input {
    background-color: rgb(211, 31, 31);
}
.item-after.invalid-input {
    background-color: rgb(211, 31, 31);
}
/*实时状态信息样式*/
.tempalate-info .accordion-item-content li{
    font-size:14px;
}
.tempalate-info{
    margin-bottom:30px;
}
/*质检列表滑动块样式*/
#qualitytestlist-content .swipeout-content a {
    padding-left: 0;
}

#qualitytestlist-content .item-inner {
    padding: 10px;
}

.fail-border {
    border-left: 6px solid #ff3b30;
}

.pass-border {
    border-left: 6px solid #4cd964;
}
#sortable-block{
    text-align:center;
}
#sortable-block li{
    padding:10px 0;
}
/*排序*/
.sort-btn {
    float:right;
    padding:2px 3px;
    color:#000;
}
.sort-btn i{
    font-size:14px;
}
.fa-sort{
    color:#ccc;
}
.fa-sort-desc,.fa-sort-asc{
    color:#007aff;
}




