@model IEnumerable<SqzEvent.Models.Off_Recruit>
@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li class="swipeout">
            <div class="swipeout-content">
                <a href="/Seller/Manager_RecruitDetails?rid=@item.Id" class="item-content item-link">
                    <div class="item-inner">
                        <div class="item-title">@Html.Encode(item.Name)</div>
                        <div class="item-after">@Html.Encode(item.Area)</div>
                    </div>
                </a>
            </div>
        </li>
    }
}
else
{
    <div class="content-block-title"  id="recruit-none" style="text-align:center;margin:0;background-color:#efeff4;padding:20px;">-没有更多数据-</div>
}

