
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>销量排名</strong></div>
        <div class="right">
            <a href="#" class="link" id="statistic_btn"><i class="fa fa-bar-chart" aria-hidden="true"></i><span>统计</span></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-reportlist">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">日期</div>
                                <div class="item-input">
                                    <input id="manager-reportlist-date" type="text" placeholder="日期" value="@ViewBag.today.ToString("yyyy-MM-dd")" class="item-input-right"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-back-text="返回" data-searchbar="true" data-searchbar-placeholder="搜索区域" data-searchbar-cancel="取消">
                            @Html.DropDownList("checklist", ViewBag.StoreSystem as SelectList, new { @id = "manager-reportlist-storesystem" })
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">选择渠道</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="manager-reportlist-content">

            </div>
        </div>
    </div>
</div>