
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">暗促签到列表</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="managerseller-taskdate">
        <div class="page-content infinite-scroll">
            <div class="list-block">
                <ul id="managerseller-list">
                    
                </ul>
                <div class="color-gray preloader-text hidden infinite-pre no-more content-block-title">- 没有更多的加载项 -</div>
                <div class="infinite-scroll-preloader hidden">
                    <div class="preloader"></div>
                </div>
            </div>
            <input type="hidden" id="sellerid" value="@ViewBag.SellerId" />
        </div>
    </div>
</div>