<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>未绑定促销员</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-bindseller">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="搜索" id="bind-search">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content infinite-scroll">
            <div class="content-block searchbar-not-found">
                查找内容不存在
            </div>
            <input type="hidden" id="_pagenum"/>

            <div class="list-block list-block-search searchbar-found">
                <ul id="bind-listpartial">
                  
                </ul>
            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>
