@model IEnumerable<SqzEvent.Models.Off_CompetitionInfo>

@foreach (var item in Model)
{
    <li>
        <a href="/Seller/Manager_CompetitionInfoDetails?id=@item.Id" class="item-content item-link">
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">
                        <span>@Html.Encode(item.ApplicationDate.ToString("MM-dd"))</span>:@Html.Encode(item.Off_Store.Off_StoreSystem.SystemName+"-"+item.Off_Store.StoreName)
                    </div>
                </div>
                <div class="subtitle color-gray margin-top-7 text-font-1">
                    信息状态：<span>@Html.Encode(Html.CompetitionInfoStatus(item.Status))</span>
                </div>
            </div>
        </a>
    </li>
}