@model SqzEvent.Models.Off_Checkin_Schedule
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>添加日程</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-addschedule">
        <div class="page-content">
            @using (Html.BeginForm("Manager_CreateEvent", "Seller", FormMethod.Post, new { @id = "createevent-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">日程时间</div>
                                    <div class="item-input">
                                        <input type="text" id="actDate" name="actDate" placeholder="请选择日期" class="item-input-right">
                                    </div>
                                </div>
                            </div>
                        </li>
                      
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width:50%;">标准上班时间</div>
                                    <div class="item-input">
                                        <input id="startTime" name="startTime" type="text" placeholder="请输入时间" value="10:00" class="item-input-right">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label" style="width:50%;">标准下班时间</div>
                                    <div class="item-input">
                                        <input id="endTime" name="endTime" type="text" placeholder="请输入时间" value="21:00" class="item-input-right">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="渠道名称" data-searchbar-cancel="取消">
                               @Html.DropDownList("Off_StoreSystem_id",ViewBag.StoreSystem as SelectList,new { @required = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">渠道选择</div>
                                        <div class="item-after smart-select-value">@Html.Encode((ViewBag.StoreSystem as SelectList).FirstOrDefault().Text)</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">全选店铺</div>
                                    <div class="item-input item-input-right">
                                        <label class="label-switch">
                                            <input type="checkbox" id="allcheck" name="allcheck">
                                            <div class="checkbox"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="store-smart">
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="店铺名称" data-searchbar-cancel="取消">
                                <select multiple id="actStore" name="actStore" required="required" maxlength="20"></select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择店铺</div>
                                        <div class="item-after smart-select-value smart-select-value2">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">标准薪资</div>
                                    <div class="item-input">
                                        <input id="Salary" name="Salary" type="number" placeholder="请输入标准薪资" class="item-input-right"> 
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="manangerschedule-btn">提交</a>
                </div>
            }
        </div>
    </div>
</div>