<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>巡店 销量待确认</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-unconfirmlist">
        <div class="page-content list-content">
            
        </div>
    </div>
</div>