@model IEnumerable<SqzEvent.Models.Off_Checkin_Schedule>

<div class="content-block-title">@Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;活动门店列表&nbsp;(@Html.Encode(Model.Count()))</div>
<div class="list-block">
    <ul>
        @foreach (var item in Model)
            {
            <li class="swipeout" data-url="@item.Id">
                <div class="swipeout-content">
                    <a href="/Seller/Manager_ViewSchedule?id=@item.Id" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">@Html.Encode(item.Off_Store.Off_StoreSystem.SystemName + "-" + item.Off_Store.StoreName)</div>
                            <div class="item-after">
                                <i class="fa fa-sign-in margin-top-3"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 0 && m.Status < 4))&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o margin-top-3"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 4))
                            </div>
                        </div>
                    </a>
                </div>
                @if (item.Off_Checkin.Count(m => m.Status >= 0) > 0)
                {
                    // 不能删
                    <div class="swipeout-actions-right">
                        <a href="/Seller/Manager_EditSchedule?id=@item.Id" class="bg-green random-param">修改</a>
                        <a href="javascript:myApp.alert('无法删除');" class="color-gray">作废</a>
                    </div>
                }
                else
                {
                    // 可以删
                    <div class="swipeout-actions-right">
                        <a href="/Seller/Manager_EditSchedule?id=@item.Id" class="bg-green random-param">修改</a>
                        <a href="#" class="swipeout-delete" data-confirm="确定要作废该信息吗？" data-confirm-title="寿全斋" data-close-on-cancel="true">作废</a>
                    </div>
                }
            </li>
        }
    </ul>
</div>

