<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">活动签呈</div>
        <div class="right">
            <a href="/Seller/Manager_CreateSalesEvent"class="link">
                <span>新增</span>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-event-list">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="搜索">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content">
            <div class="content-block searchbar-not-found">
                无结果
            </div>
            <div class="list-block media-list list-block-search searchbar-found" id="manager-eventlist">

            </div>
        </div>
    </div>
</div>
