@model IEnumerable<SqzEvent.Models.Off_Manager_Request>
<ul>
    @foreach (var item in Model)
    {
    <li class="swipeout" data-url="@item.Id">
        <div class="swipeout-content">
            <a href="/Seller/Manager_RequestEdit?id=@item.Id" class="item-link item-content random-param">
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">@Html.Encode(item.Off_Store.StoreName)</div>
                        <div class="item-after">@Html.Encode(item.RequestTime.ToString("yyyy-MM-dd"))</div>
                    </div>
                    <div class="item-subtitle color-gray"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;@Html.Encode(item.RequestType)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;@Html.ManagerRequestStatus(item.Status)</div>
                </div>
            </a>
        </div>
        <div class="swipeout-actions-right">
            <a href="#" class="swipeout-delete" data-confirm="是否确认删除" data-confirm-title="寿全斋" data-close-on-cancel="true" data-url="@item.Id">删除</a>
        </div>
    </li>
    }
</ul>
