
<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding"><strong>督导管理系统</strong></div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-task">
        <div class="page-content">
            <div class="content-block-title">门店活动</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="/Seller/Manager_SalesEventView" class="item-content">
                            <div class="item-media img-box color-blue"><i class="fa fa-calendar-check-o"></i></div>
                            <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                                <div class="item-title-row">
                                    <div class="item-title color-black">本周活动 (<span>@Html.Encode(ViewBag.Weekly)</span>)</div>
                                </div>
                                <div class="item-subtitle color-gray" style="padding:14px 0">查看活动签呈: @Html.Encode(ViewBag.AnnounceCount)</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">今日签到</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/Seller/Manager_AddCheckin" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">添加签到信息</div>
                                <div class="item-after"><sapn class="badge bg-yellow" id="managertask-count">N/A</sapn></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Seller/Manager_TaskReport" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">工作日报</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">信息查询</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/Seller/Manager_CheckInView" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">查看个人签到信息</div>
                            </div>
                        </a>
                    </li>
                    @if (User.IsInRole("Senior"))
                    {
                    <li>
                        <a href="/Seller/Manager_AllCheckInList" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">查看其它签到</div>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <div class="content-block-title">需求提报</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/Seller/Manager_CreateSalesEvent" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">活动需求提报</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Seller/Manager_RequestCreate" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">店铺需求提报</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Seller/Manager_RequestList" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">已提报需求列表</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
