
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>暗促信息修改</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-tempseller-edit">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">身份证</div>
                                <div class="item-input">
                                    <input type="number" placeholder="请输入身份证号码" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-back-text="返回">
                            <!-- select -->
                            <select>
                                <option selected="selected" value="中国工商银行">中国工商银行</option>
                                <option value="中国建设银行">中国建设银行</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">请选择银行</div>
                                    <div class="item-after">中国工商银行</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开户行</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请填写开户行信息" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开户人姓名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入开户人姓名" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">银行卡号</div>
                                <div class="item-input">
                                    <input type="number" placeholder="请输入银行卡号" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">默认工资</div>
                                <div class="item-input">
                                    <input type="number" placeholder="请输入工资" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" type="submit" class="button button-big button-fill">修改</a>
            </div>
        </div>
    </div>
</div>