<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">店铺需求列表</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-request-list">
        <div class="page-content">
            <div class="list-block media-list" id="manager-requestlist">
                
            </div>
        </div>
    </div>
</div>