@model IEnumerable<SqzEvent.Models.Off_Checkin>
    @if (Model.Count() == 0)
    {
        <div class="list-block-label">本日无记录</div>
    }
    else
    {
        <ul class="list-content">
            @foreach (var item in Model)
            {
                <li class="swipeout" data-url="@item.Id">
                    <div class="swipeout-content">
                        <a href="/Seller/Manager_ViewConfirm/@item.Id" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">@Html.Encode(item.Off_Checkin_Schedule.Off_Store.StoreName)</div>
                                <div class="item-after">@Html.Encode(item.Off_Seller.Name)</div>
                            </div>
                        </a>
                    </div>
                    <div class="swipeout-actions-right">
                        <a href="/Seller/Manager_EditCheckin?id=@item.Id" class="bg-green random-param">修改</a>
                        <a href="#" class="swipeout-delete" data-confirm="确定要作废该信息吗？" data-confirm-title="寿全斋" data-close-on-cancel="true">作废</a>
                    </div>
                </li>
            }
        </ul>
    }

