
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">积分列表</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-sellertask-month">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-page-title="选择月份" data-back-text="返回">
                            @Html.DropDownList("statistic-month", ViewBag.SelectMonth as SelectList)
                            
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">选择月份</div>
                                    <div class="item-after">@ViewBag.CurrentMonth</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">暗促签到积分列表</div>
            <div class="list-block media-list" id="manager-seller-taskmonth">
            </div>
        </div>
    </div>
</div>