<div class="content-block-title">当日编码</div>
<div class="list-block">
    <ul>

            <li class="item-content">
               <div class="item-inner ">
                        <div class="item-title">上班编码</div>
                        <div class="item-after">@Html.Encode(ViewBag.QD)</div>
               </div>
            </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">下班编码</div>
                <div class="item-after">@Html.Encode(ViewBag.QT)</div>
            </div>
        </li>
    </ul>
</div>
