@model IEnumerable<SqzEvent.Models.Wx_SellerTaskAlert>

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>库存预警列表</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="managersellertask-strongalbert">
        <div class="page-content">
            <div class="list-block media-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a class="item-content manager-sellermonth" href="/Seller/Manager_SellerTaskDetails?id=@item.Id">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title font-black">@item.StoreName</div>
                                    </div>
                                    <div class="subtitle margin-top-7 font-black">@item.ApplyDate.ToString("yyyy-MM-dd")</div>
                                    <div class="media-paddin-right-10 media-font-24 media-position-right color-black">@item.MinStorage&nbsp;&nbsp;<i class="fa fa-angle-right media-arrowright-gray" aria-hidden="true"></i></div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>