@model SqzEvent.Models.Wx_RecruitViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Recruit_Register</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        /*结构样式*/
        html, body {
            width: 100%;
        }

        .item-input input {
            outline: none;
            border: none;
            width: 100%;
        }

        a {
            text-decoration: none;
        }

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        form {
            margin-top: 30px;
        }

       form li {
                padding: 10px 5px 10px 5px;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }

        header {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        header h2{
            color:#007aff;
        }

        .verification-content a {
            display: inline-block;
            text-decoration: none;
        }

        .item-inner > div {
            display: inline-block;
        }
        /*工具样式*/
        .col-35 {
            width: 35%;
        }

        .col-40 {
            width: 40%;
        }

        .col-50 {
            width: 50%;
        }

        .col-20 {
            width: 20%;
        }
        .hidden {
            display: none !important;
        }

        .color-gray {
            color: #ababab;
        }

        .border-bottom {
            border-bottom: 1px solid #ccc;
        }

        .border-left {
            border-radius:5px;
            height: 22px;
            float: right;
            padding: 5px 5px 1px 5px;
            font-size: 12px;
            background: #007aff;
            color: #fff;
            text-align: center;
            box-sizing: border-box;
            font-size: 12px;
            cursor: pointer;
            outline: 0;
        }
        .bg-gary{
            background-color:#ccc;
        }
        .color-blue {
            color: #007aff;
        }

        .color-red {
            color: red;
        }

        .color-green {
            color: green;
        }

        .color-gary {
            color: #ccc;
        }

        .btn {
            background: #007aff;
            color: #fff;
            text-align: center;
            display: block;
            border-radius: 5px;
            line-height: 27px;
            box-sizing: border-box;
            height: 29px;
            font-size: 14px;
            cursor: pointer;
            outline: 0;
        }
        /*基本样式*/
       .btn:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
        #register-btn {
            margin: 50px auto auto auto;
        }

        .add {
            position: absolute;
            right: 2.5rem;
        }

        .verification-error {
            width: 8%;
            position: absolute;
            right: 4.8rem !important;
        }
        .bg{
           position: fixed;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           background-color: #000;
           opacity:0.2;
        }
        .modal{
            background-color:#fff;
            z-index:11;
            position:absolute;
            top:-100%;
            left:0;
            right:0;
            bottom:0;
            border-radius:5px;
            margin:0 auto;
            width:90%;
            height:80%;
            border:1px solid rgba(0,0,0,.2);
            box-shadow:0 5px 15px rgba(0,0,0,.5);
        }
        #close-btn{
            position:absolute;
            right:2px;
            top:2px;
            color:#CCC;
        }
        .modal-header h2{
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
</head>

<body>
    <div class="modal">
        <div class="modal-header">
            <a id="close-btn"><i class="fa fa-times"></i></a>
            <h2>aaaa</h2>
        </div>
        <div class="modal-body">
            asdsasad
        </div>
    </div>
    <div class="bg"></div>
    <header><h2>注册</h2></header>
    @using (Html.BeginForm("Recruit_Register", "Seller", FormMethod.Post, new { @id = "register-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.AccessToken)
        @Html.HiddenFor(m=> m.Open_Id)
        <ul>
            <li class="item-content username-content border-bottom">
                <div class="item-inner">
                    <div class="item-title col-20">姓名</div>
                    <div class="item-input col-50">
                        <input type="text" name="Name" placeholder="请输入真实姓名" id="Name" />
                    </div>
                </div>
            </li>
            <li class="item-content tel-content border-bottom">
                <div class="item-inner">
                    <div class="item-title col-20">手机号</div>
                    <div class="item-input col-50">
                        <input type="tel" name="Mobile" placeholder="手机号码(11位)" id="Mobile" maxlength="11"/>
                    </div>
                </div>
            </li>
            <li class="item-content recommend-content border-bottom">
                <div class="item-inner">
                    <div class="item-title col-20">推荐码</div>
                    <div class="item-input col-50">
                        <input type="text" name="RecommandCode" placeholder="输入推荐码(选填)" id="RecommandCode" maxlength="6">
                    </div>
                </div>
            </li>
            <li class="item-content verification-content">
                <div class="item-inner">
                    <div class="item-title col-20">验证码</div>
                    <div class="item-input col-40">
                        <input type="text" name="CheckCode" placeholder="输入验证码" id="CheckCode" maxlength="6">
                    </div>
                    <a class="item-after border-left" href="javascript:;" id="get-verification">获取验证码</a>
                    <a class="item-after border-left hidden" href="javascript:;" id="wait-num"><span></span>秒后重发</a>
                </div>
            </li>
        </ul>
        <a href="javascript:;" id="register-btn" class="btn col-50">成为促销员</a>
    }
    <script>
        /*页面初始化弹出框动画*/
        $(".modal").animate({
            top: '10%',
            speed: "show"
        });;
        /*页面初始化弹出框关闭按钮点击后动画*/
        $("#close-btn").on("click", function () {
            $(".modal").animate({
                top: '-100%',
                opacity: '0.5',
                height: '150px',
                width: '150px',
                speed:"show"
            });;
            $(".bg").addClass("hidden");
        })
        /*input获得焦点后清除输入错误警告样式*/
        $("input").each(function () {
            $(this).on("focus", function () {
                $(this).parent().next(".add").remove();
            })
        })
        var word_type = /^[\u4e00-\u9fa5]{1,6}$/                       //输入姓名正则
        var tel_type = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/      //电话号码正则
        var recommend_type = /^\d{6}$|^\d{0}$/                         //推荐码正则
        var verification_type = /^\d{4,6}$/                            //验证码正则
        /*获取验证码时对填入信息进行验证*/
        $("#get-verification").on("click", function () {
            var bool = true;
            if (!word_type.test($("#Name").val())) {
                $(".username-content .item-after").remove();
                $("#Name").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>")
                bool=false
            } else {
                $(".username-content .item-after").remove();
                $("#Name").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>")
            }
            if (!tel_type.test($("#Mobile").val())) {
                $(".tel-content .item-after").remove();
                $("#Mobile").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>")
                bool = false
            } else {
                $(".tel-content .item-after").remove();
                $("#Mobile").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>")
            }
            if (!recommend_type.test($("#RecommandCode").val())) {
                $(".recommend-content .item-after").remove();
                $("#RecommandCode").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>")
                bool = false
            } else {
                $(".recommend-content .item-after").remove();
                $("#RecommandCode").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>")
            }
            /*填入信息通过后获取短信*/
            if (bool) {
                $.ajax({
                    url: "/Seller/Wx_SendSms",
                    data: {
                        mobile: $("#Mobile").val(),
                        __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
                    },
                    type: "POST",
                    success: function (data) {
                    }
                });
                var count = 60;
                $("#wait-num span").html(count);
                $("#get-verification").addClass("hidden");
                $("#wait-num").removeClass("hidden");
                $("#wait-num").addClass("color-gary");
                var timer = setInterval(function () {
                    count--;
                    $("#wait-num span").html(count);
                    if (count == 0) {
                        clearInterval(timer);
                        $("#get-verification").removeClass("hidden");
                        $("#wait-num").addClass("hidden");
                    }
                }, 1000)
            }
        })
        /*点击提交按钮时验证*/
        $("#register-btn").on("click", function () {
            if (!$("#register-btn").hasClass("bg-gary")) {
                $("#register-btn").addClass("bg-gary");
                var verification = true;
                if (!word_type.test($("#Name").val())) {
                    $(".username-content .item-after").remove();
                    $("#Name").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>");
                    $("#register-btn").removeClass("bg-gary");
                    verification = false;
                } else {
                    $(".username-content .item-after").remove();
                    $("#Name").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>");
                }
                if (!tel_type.test($("#Mobile").val())) {
                    $(".tel-content .item-after").remove();
                    $("#Mobile").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>");
                    $("#register-btn").removeClass("bg-gary");
                    verification = false;
                } else {
                    $(".tel-content .item-after").remove();
                    $("#Mobile").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>");
                }
                if (!recommend_type.test($("#RecommandCode").val())) {
                    $(".recommend-content .item-after").remove();
                    $("#RecommandCode").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>");
                    $("#register-btn").removeClass("bg-gary");
                    verification = false;

                } else {
                    $(".recommend-content .item-after").remove();
                    $("#RecommandCode").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>");
                }
                if (!verification_type.test($("#CheckCode").val())) {
                    $(".verification-content .verification-error").remove();
                    $("#CheckCode").parent().after("<a class=\"verification-error add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></a>");
                    verification = false;
                    $("#register-btn").removeClass("bg-gary");
                } else {
                    $(".verification-content .verification-error").remove();
                    $("#CheckCode").parent().after("<a class=\"verification-error add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></a>");
                }
                /*验证通过提交表单*/
                if (verification) {
                    $("#register-form").submit();
                    setTimeout(function () {
                        $("#register-btn").removeClass("bg-gary");
                    },1000)
                }
            }
           
        })
    </script>
</body>
</html>
