@model SqzEvent.Models.Wx_RecruitCompleteViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>促销员招募</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        label {
            line-height: 2.234;
        }

        form {
            margin-top: 10px;
        }

        .inputwrap {
            padding-left: 0;
        }

        .selectwrap {
            padding: 0;
        }

        .border-none {
            border: 1px solid #fff;
        }

        .select.form-control {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding: 0;
            outline: none;
            text-decoration: none;
            background-color: #fff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .btn-gary {
            border: 1px solid #ccc;
            background-color: #fff;
            color: #000;
        }

        .have-error {
            border: 1px solid #a94442;
        }

        .have-success {
            border: 1px solid #3c763d;
        }

        .btn-gary.active, .btn-gary:active {
            color: #fff;
            background-color: #286090;
            outline: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-4 col-md-5"></div>
            <div class="col-xs-4 col-md-2" style="margin:0 auto;"><img class="img-responsive" src="~/Content/images/logo_new.png"></div>
            <div class="col-xs-4 col-md-5"></div>
        </div>
        <h3 class="text-center">信息完善</h3>
    </div>
    @using (Html.BeginForm("Recruit_ConfirmInfo", "Seller", FormMethod.Post, new { @id = "info-form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserName)
        <div class="container">
            <div class="col-xs-12">
                <div class="form-group  has-feedback">
                    <label for="IdNumber" class="col-xs-3  text-right inputwrap">身份证</label>
                    <div class="col-xs-9 selectwrap">
                        <input type="text" name="IdNumber" placeholder="请输入身份证号码" id="IdNumber" class="form-control">
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="IdNumber" class="col-xs-3  text-right">地址</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-4 selectwrap">
                                <select id="AreaProvince" name="AreaProvince" class="form-control select border-none">
                                    <option>请选择</option>
                                </select>
                            </div>
                            <div class="col-xs-4 selectwrap">
                                <select id="AreaCity" name="AreaCity" class="form-control select border-none">
                                    <option>请选择</option>
                                </select>
                            </div>
                            <div class="col-xs-4 selectwrap">
                                <select id="AreaDistrict" name="AreaDistrict" class="form-control select border-none">
                                    <option>请选择</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group has-feedback">
                    <label class="col-xs-3  text-right">时间</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="btn-group col-xs-12 selectwrap active" data-toggle="buttons">
                                <label class="btn btn-gary active col-xs-4  text-center">
                                    <input type="checkbox" autocomplete="off">工作日
                                </label>
                                <label class="btn btn-gary   col-xs-4 text-center">
                                    <input type="checkbox" autocomplete="off">双休日
                                </label>
                                <label class="btn btn-gary   col-xs-4 text-center">
                                    <input type="checkbox" autocomplete="off">节假日
                                </label>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8"><a href="#" class="btn btn-primary  btn-block" role="button" id="improve-btn">提交信息</a></div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    }
    <script>
        /*input获得焦点后清除输入错误警告样式*/
        $("input").each(function () {
            $(this).on("focus", function () {
                $("#improve-btn").removeClass("btn-default");
                $(".btn-gary").removeClass("have-error");
                $(".btn-gary").removeClass("have-success");
                $(this).parent().parent().removeClass("has-error");
                $(this).parent().parent().removeClass("has-success");
                $(".form-control-feedback").remove("span");
            })
        })
        /*下拉选择被点击后清除输入错误警告样式*/
        $("select").each(function () {
            $(this).on("click", function () {
                $(this).parent().parent().removeClass("has-error");
                $(this).parent().parent().removeClass("has-success");
            })
        })
        /*页面初始化获得所有省信息*/
        $.ajax({
            url: "/Seller/GetRegion",
            data: {
                level: 1
            },
            success: function (data) {
                var data = JSON.parse(data);
                for (i = 0; i < data.response.regions.length; i++) {
                    var province = unescape(data.response.regions[i].name);
                    var province_val = data.response.regions[i].id;
                    $("#AreaProvince").append("<option target-id=\"" + province_val + "\" value=\"" + province + "\">" + province + "</option>");
                }
            }
        });
        /*选择省后获取对应市级信息*/
        $("#AreaProvince").on("change", function () {
            $("#AreaCity").html("<option>请选择</option>");
            $("#AreaDistrict").html("<option>请选择</option>");
            $.ajax({
                url: "/Seller/GetRegion",
                data: {
                    parentid: $("#AreaProvince").find("option:selected").attr("target-id"),
                    level: 2
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if ($("#AreaProvince").find("option:selected").attr("target-id") > 0) {
                        for (i = 0; i < data.response.regions.length; i++) {
                            var city = unescape(data.response.regions[i].name);
                            var city_val = data.response.regions[i].id;
                            $("#AreaCity").append("<option target-id=\"" + city_val + "\" value=\"" + city + "\">" + city + "</option>");
                        }
                    }
                }
            });
        });
        /*选择市级信息后获得区县级信息*/
        $("#AreaCity").on("change", function () {
            $("#AreaDistrict").html("<option>请选择</option>");
            $.ajax({
                url: "/Seller/GetRegion",
                data: {
                    parentid: $("#AreaCity").find("option:selected").attr("target-id"),
                    level: 3
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if ($("#AreaCity").find("option:selected").attr("target-id") > 0) {
                        for (i = 0; i < data.response.regions.length; i++) {
                            var area = unescape(data.response.regions[i].name);
                            var area_val = data.response.regions[i].id;
                            $("#AreaDistrict").append("<option target-id=\"" + area_val + "\" value=\"" + area + "\">" + area + "</option>");
                        }
                    }
                }
            });
        });
        var id_type = /(^\d{18}$)|(^\d{15}$)|(^\d{17}(\d|X|x)$)/  //身份证正则
        /*点击提交按钮时验证*/
        $("#improve-btn").on("click", function () {
            if (!$("#improve-btn").hasClass("btn-default")) {
                $("#improve-btn").addClass("btn-default");
                var bool = true;
                if (!id_type.test($("#IdNumber").val())) {
                    $("#IdNumber").parent().parent().removeClass("has-success");
                    $("#IdNumber").parent().parent().addClass("has-error");
                    $("#IdNumber").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\" style=\" padding-left:30px;\"></span>");
                    $("#improve-btn").removeClass("btn-default");
                    bool = false;
                } else {
                    $("#IdNumber").parent().parent().removeClass("has-error");
                    $("#IdNumber").parent().parent().addClass("has-success");
                    $("#IdNumber").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"  style=\" padding-left:30px;\"></span>");
                }              
                $("#info-form").find("select").each(function () {
                    if ($(this).val() == "请选择") {
                        $(this).parent().parent().parent().parent().removeClass("has-success");
                        $(this).parent().parent().parent().parent().addClass("has-error");
                        bool = false;
                        $("#improve-btn").removeClass("btn-default");
                    } else {
                        $(this).parent().parent().parent().parent().addClass("has-success");
                        $(this).parent().parent().parent().parent().removeClass("has-error");
                    }
                    var arr = [];
                    $(".btn-gary").each(function () {
                        if ($(this).hasClass("active")) {
                            arr.push("1");
                        }
                    })
                    if (arr.length == 0) {
                        bool = false;
                        $(".btn-gary").removeClass("have-success");
                        $(".btn-gary").addClass("have-error");
                        $("#improve-btn").removeClass("btn-default");
                    }else{
                        $(".btn-gary").removeClass("have-error");
                        $(".btn-gary").addClass("have-success");
                    }
                });
                /*验证通过提交表单*/
                if (bool) {
                    setTimeout(function () {
                        $("#info-form").submit();
                    }, 1000)
                }
            }
        });
    </script>

</body>
</html>
