@model SqzEvent.Models.Wx_RecruitCompleteViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Recruit_ConfirmInfo</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        /*结构样式*/
        html, body {
            width: 100%;
        }

        .item-inner div {
            display: inline-block;
        }

        input {
            outline: none;
            border: none;
        }

        a {
            text-decoration: none;
        }

        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        form {
            margin-top: 30px;
        }

       form ul {
                width: 90%;
                margin: 0 auto;
        }

       form li {
                padding: 10px 5px 10px 5px;
        }

        header {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        header h2{
            color:#007aff;
        }
        /*工具样式*/
        .col-100 {
            width: 100%;
        }

        .col-30 {
            width: 30%;
        }

        .col-22 {
            width: 22%;
        }

        .col-25 {
            width: 25%;
        }

        .col-20 {
            width: 20%;
        }

        .col-50 {
            width: 50%;
        }

        .col-55 {
            width: 55%;
        }

        .col-30 {
            width: 30%;
        }

        .hidden {
            display: none;
        }
        .bg-gary{
            background-color:#ccc !important;
        }

        .bg-blue {
            background-color: #007aff;
        }
        .color-white{
            color:#fff !important;
        }
        .color-blue {
            color: #007aff;
        }
        .color-green{
            color:green;
        }
        .color-red {
            color: red;
        }

        .border-bottom {
            border-bottom: 1px solid #ccc;
        }

        .red-border {
            border: 1px solid red !important;
        }

        .blue-border {
            border: 1px solid #007aff;
        }

        .btn {
            background: #007aff;
            color: #fff;
            text-align: center;
            display: block;
            border-radius: 5px;
            line-height: 27px;
            box-sizing: border-box;
            height: 29px;
            font-size: 14px;
            cursor: pointer;
            outline: 0;
        }
         /*基础样式*/
        .btn:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

        .add {
            width:20%;
            text-align:center;
        }

        .checkbox-content {
            text-align: center;
        }

        .checkbox-content .item-title {
            padding-bottom: 10px;
            text-align: left;
        }

        .item-title {
            font-size: 1rem;
        }

        .item-input input {
            width: 100%;
        }

        .label-btn input {
            visibility: hidden;
        }

        .label-btn span {
            position: relative;
            right: 6px;
        }

        .label-btn {
            color:#007aff;
            text-align: center;
            display: inline-block;
            border-radius: 5px;
            line-height: 27px;
            box-sizing: border-box;
            height: 29px;
            font-size: 14px;
            cursor: pointer;
            outline: 0;
        }

        #improve-btn {
            margin: 50px auto auto auto;
        }

        select {
            height: 20px;
            outline: none;
            border: none;
            font-size: .7rem;
            appearance: none;
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari 和 Chrome */
        }
    </style>
</head>
<body>
    
    <header><h2>信息完善</h2></header>
    @using (Html.BeginForm("Recruit_ConfirmInfo", "Seller", FormMethod.Post, new { @id = "info-form" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.UserName)
        <ul>
            <li class="id-content border-bottom">
                <div class="item-inner">
                    <div class="item-title col-20">身份证</div>
                    <div class="item-input col-55">
                        <input type="text" name="IdNumber" placeholder="请输入身份证号码" id="IdNumber">
                    </div>
                </div>
            </li>
            <li class="id-content border-bottom">
                <div class="item-inner">
                    <div class="item-title col-20">地址</div>
                    <select id="AreaProvince" name="AreaProvince" class="col-22">
                        <option>-请选择-</option>
                    </select>
                    <select id="AreaCity" name="AreaCity" class="col-22">
                        <option>-请选择-</option>
                    </select>
                    <select id="AreaDistrict" name="AreaDistrict" class="col-22">
                        <option>-请选择-</option>
                    </select>
                </div>
            </li>
            <li class="checkbox-content">
                <div class="item-inner">
                    <div class="item-title col-100">可工作日期</div>
                    <label for="Holiday" class="label-btn blue-border col-30"><input type="checkbox" id="Holiday" name="Holiday"/><span>节假日</span></label>
                    <label for="Weekday" class="label-btn blue-border col-30"><input type="checkbox" id="Weekday" name="Weekday"/><span>工作日</span></label>
                    <label for="Weekend" class="label-btn blue-border col-30"><input type="checkbox" id="Weekend" name="Weekend" /><span>双休日</span></label>
                </div>
            </li>
        </ul>
        <a href="javascrirt:;" id="improve-btn" class="btn col-50">提交信息</a>
    }
    <script>
        /*label点击后样式变化*/
        $("label").each(function () {
            $(this).on("click", function () {
                $(".label-btn").removeClass("red-border");             //输入错误样式移除        
                $(".label-btn").addClass("blue-border");               //增加基本样式    
                /*复选框选中样式*/
                if (!$(this).children("input").is(':checked')) {
                    $(this).removeClass("bg-blue");                        
                    $(this).removeClass("color-white");
                } else {
                    $(this).addClass("bg-blue");
                    $(this).addClass("color-white");
                }
            })
        })
        /*input获得焦点后清除输入错误警告样式*/
        $("input").each(function () {
            $(this).on("focus", function () {
                $(this).parent().next(".add").remove();
            })
        })
        /*下拉选择被点击后清除输入错误警告样式*/
        $("select").each(function () {
            $(this).on("click", function () {
                $(this).removeClass("color-red");
            })
        })
        /*页面初始化获得所有省信息*/
        $.ajax({
            url: "/Seller/GetRegion",
            data: {
                level: 1
            },
            success: function (data) {
                var data = JSON.parse(data);
                for (i = 0; i < data.response.regions.length; i++) {
                    var province = unescape(data.response.regions[i].name);
                    var province_val = data.response.regions[i].id;
                    $("#AreaProvince").append("<option target-id=\"" + province_val + "\" value=\"" + province + "\">" + province + "</option>");
                }
            }
        });
        /*选择省后获取对应市级信息*/
        $("#AreaProvince").on("change", function () {           
            $("#AreaCity").html("<option>-请选择-</option>");
            $("#AreaDistrict").html("<option>-请选择-</option>");
            $.ajax({
                url: "/Seller/GetRegion",
                data: {
                    parentid: $("#AreaProvince").find("option:selected").attr("target-id"),
                    level:2
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if ($("#AreaProvince").find("option:selected").attr("target-id")>0) {
                        for (i = 0; i < data.response.regions.length; i++) {
                            var city = unescape(data.response.regions[i].name);
                            var city_val = data.response.regions[i].id;
                            $("#AreaCity").append("<option target-id=\"" + city_val + "\" value=\"" + city + "\">" + city + "</option>");
                        }
                    }                
                }
            });
        });
        /*选择市级信息后获得区县级信息*/
        $("#AreaCity").on("change", function () {
            $("#AreaDistrict").html("<option>-请选择-</option>");
            $.ajax({
                url: "/Seller/GetRegion",
                data: {
                    parentid: $("#AreaCity").find("option:selected").attr("target-id"),
                    level: 3
                },
                success: function (data) {
                    var data = JSON.parse(data);
                    if ($("#AreaCity").find("option:selected").attr("target-id")>0) {
                        for (i = 0; i < data.response.regions.length; i++) {
                            var area = unescape(data.response.regions[i].name);
                            var area_val = data.response.regions[i].id;
                            $("#AreaDistrict").append("<option target-id=\"" + area_val + "\" value=\"" + area + "\">" + area + "</option>");
                        }
                    }     
                }
            });
        });
        var id_type = /(^\d{18}$)|(^\d{15}$)|(^\d{17}(\d|X|x)$)/  //身份证正则
        /*点击提交按钮时验证*/
        $("#improve-btn").on("click", function () {
            if (!$("#improve-btn").hasClass("bg-gary")) {
                $("#improve-btn").addClass("bg-gary");
                var bool = true;
                if (!id_type.test($("#IdNumber").val())) {
                    $(".id-content .item-after").remove();
                    $("#IdNumber").parent().after("<div class=\"item-after add\"><i class=\"fa fa-times color-red\" aria-hidden=\"true\"></i></div>");
                    bool = false;
                    $("#improve-btn").removeClass("bg-gary");
                } else {
                    $(".id-content .item-after").remove();
                    $("#IdNumber").parent().after("<div class=\"item-after add\"><i class=\"fa fa-check color-green\" aria-hidden=\"true\"></i></div>");
                }
                var lableArray = [];
                $("#info-form").find(".label-btn").each(function () {
                    if (!$(this).hasClass("bg-blue")) {
                        lableArray.push("1");
                    }
                    if (lableArray.length == 3) {
                        $(".label-btn").removeClass("blue-border");
                        $(".label-btn").addClass("red-border");
                        bool = false;
                        $("#improve-btn").removeClass("bg-gary");
                    } else {
                        $(".label-btn").removeClass("red-border");
                        $(".label-btn").addClass("blue-border");
                    }
                })
                $("#info-form").find("select").each(function () {
                    if ($(this).val() == "-请选择-") {
                        $(this).addClass("color-red");
                        bool = false;
                        $("#improve-btn").removeClass("bg-gary");
                    } else {
                        $(this).removeClass("color-red");
                    }
                });
                /*验证通过提交表单*/
                if (bool) {
                    $("#info-form").submit();
                    setTimeout(function () {
                        $("#improve-btn").removeClass("bg-gary");
                    },1000)
                }
            }      
            });
    </script>
   
</body>
</html>
