@model SqzEvent.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_PeriodAidLayout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
            </div>
            <div class="modal-body" id="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-fixed-top">
    <div class="container user-userinfo container-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 text-center">
                <img src="@Model.ImgUrl.Replace("http://","//")" class="img-circle img-responsive" style="width:100px; height:100px; margin:auto;" />
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</nav>

<br />
<div class="container container-body" style="margin-top:150px; margin-bottom:20px;">
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <i class="fa fa-cogs fa-lg"></i>
        </div>
        <div class="col-xs-9 tag-body">
            <a href="/PeriodAid/Setting" class="tag-link">设置</a>
        </div>
    </div>
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <i class="fa fa-weixin fa-lg"></i>
        </div>
        <div class="col-xs-9 tag-body">
            <a class="tag-link" href="/WxAccount/Wx_RedirectUpdateUser">更新微信个人信息</a>
        </div>
    </div>
    <br />
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <i class="fa fa-eye fa-lg"></i>
        </div>
        <div class="col-xs-9 tag-body">
            <a class="tag-link" href="http://mp.weixin.qq.com/s?__biz=MjM5MzE1Mjk4MQ==&mid=208431123&idx=1&sn=c7a8f41ba478ccd2250f91f73457c205#rd">关注寿全斋</a>
        </div>
    </div>
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <i class="fa fa-shopping-cart fa-lg"></i>
        </div>
        <div class="col-xs-9 tag-body">
            <a href="http://wap.koudaitong.com/v2/usercenter/4g7cq1si" class="tag-link">我的购物车</a>
        </div>
    </div>
    <br />
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <span class="fa fa-users fa-lg"></span>
        </div>
        <div class="col-xs-9 tag-body">
            <a href="#" class="tag-link open-modal" data-toggle="modal" data-target="#myModal" data-html="/PeriodAid/About">关于我们</a>
</div>
    </div>
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <span class="fa fa-glass fa-lg"></span>
        </div>
        <div class="col-xs-9 tag-body">
            <a href="#" class="tag-link open-modal" data-toggle="modal" data-target="#myModal" data-html="/PeriodAid/Privacy">隐私申明</a>
</div>
    </div>
    <div class="row tag">
        <div class="col-xs-3 text-center tag-header">
            <span class="fa fa-newspaper-o fa-lg"></span>
        </div>
        <div class="col-xs-9 tag-body">
            <a href="#" class="tag-link open-modal" data-toggle="modal" data-target="#myModal" data-html="/PeriodAid/Version">更新说明 (v.1.0.0)</a>
        </div>
    </div>
</div>

@section scripts{
    <span id="nav-name" class="hidden">User</span>
    <script>
        $(function () {
            $(".open-modal").click(function () {
                var item = $(this);
                $("#myModalLabel").text(item.text());
                $("#modal-body").html("");
                $.ajax({
                    url: item.attr("data-html"),
                    type: "get",
                    success: function (data) {
                        //alert(item.text());
                        $("#myModalLabel").text(item.text());
                        $("#modal-body").html(data);
                    }
                })
            })
        });


    </script>
    }




