<div class="container">
    <h4>v.1.0.0(2015.08.25)</h4>
    <p>
        寿全斋版本经期助手正式上线。主要功能包括<br />
        1. 经期记录<br />
        2. 经期推算<br />
        3. 个人设置<br />
        4. 积分&签到<br />
    </p>
    <br />
    

</div>
