
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2016寿全斋品牌发布会</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: url(/Content/images/background_pc.png);
            margin: 30px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }

        .white-font {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <img src="~/Content/images/title_bc.png" class="img-responsive" />
            </div>
            <div class="col-xs-1"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="text-center col-xs-4">
                <div class="login-logo img-responsive">
                    <img src="/Content/images/logo-white.png" class="img-responsive img-circle" />
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10 text-center">
                <h4 class="white-font">寿全斋</h4>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="text-center">
                    <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立&nbsp;即&nbsp;下&nbsp;单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" id="submit-btn" class="btn btn-success btn-pr btn-lg" />
                    <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下&nbsp;单&nbsp;成&nbsp;功&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" id="submited" class="btn btn-success btn-pr btn-lg disabled" style="display:none;" />

                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var clicked = false;
        if (!clicked) {
            $("#submit-btn").click(function () {
                $(this).hide();
                $("#submited").show();
                setTimeout(function () {
                    
                }, 500);
                return false;
            });
        }
    </script>
</body>
</html>
