
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>活动门店列表</strong></div>
        <div class="right">
            <a href="/Seller/Manager_CreateEvent" class="link">添加日程</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-eventlist">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-title label">日期</div>
                            <div class="item-input">
                                <input id="manager-eventlist-date" type="text" placeholder="日期" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="manager-eventlist-content" class="list-content">

            </div>
        </div>
    </div>
</div>
