
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>巡店 未签退</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-uncheckoutlist">
        <div class="page-content">
            <div class="content-block-title">查看日期</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">日期</div>
                                <div class="item-input">
                                    <input class="check-date" type="text" placeholder="日期" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">未签退列表</div>
            <div class="list-block">
                <ul class="list-content"></ul>
            </div>
        </div>
    </div>
</div>