
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>促销员信息</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-sellerdetails">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-shopping-bag"></i></div>
                            <div class="item-inner">
                                <div class="item-title">店铺名称</div>
                                <div class="item-after">欧尚-上海嘉定店</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-user"></i></div>
                            <div class="item-inner">
                                <div class="item-title manager-seller">姓名</div>
                                <div class="item-after manager-seller">陈皮</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-phone-square"></i></div>
                            <div class="item-inner">
                                <div class="item-title">电话</div>
                                <div class="item-after">010-123456</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-credit-card-alt"></i></div>
                            <div class="item-inner">
                                <div class="item-title">身份证号码</div>
                                <div class="item-after">342830197212080449</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-user"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">开户人姓名</div>
                                <div class="item-after">陈皮</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-credit-card"></i></div>
                            <div class="item-inner">
                                <div class="item-title">银行名称</div>
                                <div class="item-after">中国工商银行</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-credit-card"></i></div>
                            <div class="item-inner">
                                <div class="item-title">开户行</div>
                                <div class="item-after"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media color-gray form-media-box"><i class="fa fa-credit-card-alt"></i></div>
                            <div class="item-inner">
                                <div class="item-title">银行账号</div>
                                <div class="item-after">6222001001117728916</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="content-block">
                    <a href="/Seller/Manager_CreditInfo" class="button button-big button-fill">修改</a>
                </div>
            </div>
        </div>
    </div>
</div>