@model IEnumerable<SqzEvent.Models.Wx_SellerTaskMonthStatistic>

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>暗促信息查询</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="managersellertask-query">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="搜索">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content">
            <div class="content-block searchbar-not-found">
                查询信息不存在
            </div>
            <div class="list-block list-block-search searchbar-found">
                <ul>
                    @foreach (var item in Model)
                    {
                    <li>
                        <a href="/Seller/Manager_SellerTaskSeller?id=@item.Off_Seller.Id" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">@Html.Encode(item.Off_Seller.Name)</div>
                                <div class="item-after">@Html.Encode(item.Off_Seller.Off_Store.StoreName)</div>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>
