@model IEnumerable<SqzEvent.Models.Off_SellerTask>

    @foreach (var item in Model)
    {
        <li>
            <a href="/Seller/Manager_SellerTaskDetails?id=@item.Id" class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">@item.ApplyDate.ToString("yyyy-MM-dd")</div>
                    <div class="item-after">总库存: @Html.Encode(item.Off_SellerTaskProduct.Sum(m=>m.StorageCount))</div>
                </div>
            </a>
        </li>
    }