@model IEnumerable<SqzEvent.Models.Off_Manager_Task>

<div class="content-block-title">当日签到数 (@Html.Encode(Model.Count()))</div>
<div class="list-block">
    <ul>
@foreach (var item in Model)
{
        <li>
            <a href="/Seller/Manager_CheckInDetails?id=@item.Id" class="item-content item-link random-param">
                <div class="item-inner">
                    <div class="item-title">@Html.Encode(item.NickName)</div>
                    <div class="item-after">@Html.Encode(item.Off_Manager_CheckIn.Count(m => m.Canceled == false))</div>
                </div>
            </a>
        </li>
}
    </ul>
</div>
