<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">销量表</div>

    </div>
</div>
<div class="pages">
    <div class="page" data-page="recoverybreakdown" id="recoverybreakdown">
        <div class="page-content" style="overflow-x:scroll;">
            <table class="table h6" style="overflow-x:scroll;">
                <tr>
                    <th>店铺名称</th>
                    <th>状态</th>
                    <th>红糖姜茶</th>
                    <th>柠檬姜茶</th>
                    <th>红枣姜茶</th>
                    <th>黑糖姜茶</th>
                    <th>工资</th>
                    <th>奖金</th>
                </tr>
                <tr>
                    <td>大润发-宁波店</td>
                    <td>已确认</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>120</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>大润发-宁波店</td>
                    <td>已确认</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>120</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>大润发-宁波店</td>
                    <td>已确认</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>120</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>大润发-宁波店</td>
                    <td>已确认</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>12</td>
                    <td>120</td>
                    <td>20</td>
                </tr>
            </table>
        </div>
    </div>
</div>
