@model IEnumerable<SqzEvent.Models.Off_Seller>

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">门店所属促销员</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-scheduleseller">
        <div class="page-content">
            <div class="content-block-title">@Html.Encode(ViewBag.StoreName)</div>
            <div class="list-block">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">@Html.Encode(item.Name)</div>
                                    <div class="item-after">@Html.Encode(item.Mobile)</div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
