
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center"><strong>红包管理</strong></div>
        <div class="subnavbar">
            <div class="buttons-row">
                <a href="#bonus-issue" class="button tab-link active">红包发放</a>
                <a href="#bonus-record" class="button tab-link">红包记录</a>
            </div>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div class="page with-subnavbar" data-page="manager-bonuslist">
        <div class="page-content" style="padding-top:0">
            <div class="tabs">
                <div id="bonus-issue" class="tab active">
                    <div class="page-content">
                        <div class="content-block-title">待确认红包列表</div>
                        <div class="list-block media-list">
                            <ul id="bonus-content"></ul>
                        </div>
                    </div>
                </div>
                <div id="bonus-record" class="tab">
                    <div class="page-content pull-to-refresh-content">
                        <div class="pull-to-refresh-layer">
                            <div class="preloader"></div>
                            <div class="pull-to-refresh-arrow"></div>
                        </div>
                        <div class="content-block-title">红包列表</div>
                        <div class="list-block media-list">
                            <ul id="history-content"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>