
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">店铺需求列表详情</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-request-check">
        <div class="page-content">
            <div class="content-block-title">店铺需求内容</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><strong>店铺</strong></div>
                                <div class="item-after">欧尚-上海长阳店</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><strong>类型</strong></div>
                                <div class="item-after">店铺补货</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <textarea placeholder="提报信息">测试</textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><strong>备注</strong></div>
                                <div class="item-after">测试</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>