<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">销售详情</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-tasksellerdetails">
        <div class="page-content">
            <div class="content-block-title">基本信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">姓名</div>
                                <div class="item-after">门店</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">销量数据</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <div class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title-row manager-tasksellerdetails-checkin">
                                    <div class="item-title">签到图片</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title-row manager-tasksellerdetails-checkout">
                                    <div class="item-title">签退图片</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content item-link manager-tasksellerdetails-sales">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">销量图片</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="row">
                                    <div class="col-25">红糖姜茶</div>
                                    <div class="col-50 text-center">数量</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="row">
                                    <div class="col-25">黑糖姜茶</div>
                                    <div class="col-50 text-center">数量</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="row">
                                    <div class="col-25">柠檬姜茶</div>
                                    <div class="col-50 text-center">数量</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>