
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>完善账户信息</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-creditinfo">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">陈皮</div>
                                <div class="item-after">010-123456</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">证件</div>
                                <div class="item-input">
                                    <input type="number" placeholder="请输入证件号" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="开户行" data-searchbar-cancel="取消">
                            <select name="storelist">
                                <option>中国工商银行</option>
                                <option>中国建设银行</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">银行</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开户行</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入开户行名称" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">户名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入开户行名称" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开户行</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入开户人姓名" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">卡号</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入银行卡号" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>