
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>促销员招募</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <style>
        /*结构样式*/
        html, body {
            width: 100%;
        }
        .header{
            margin-top:60%; font-size:1.2em;
        }
        div{
            text-align:center; width:100%; font-size:0.8em;
        }
    </style>
</head>
<body>
    <div class="header">您已是促销员，无需注册！</div>
    <br />
    <div><span id="sec">3</span>秒以后跳转到促销员首页...</div>
    <script>
        setTimeout(redirect, 1000);
        function redirect() {
            var element = document.getElementById("sec");
            if (element.innerText == "1") {
                element.innerText = 0;
                window.location.href = "/Seller/Seller_Home";
            }
            else {
                number = parseInt(element.innerText);
                number--;
                element.innerText = number;
                setTimeout(redirect, 1000);
            }
        }
        
    </script>
</body>
</html>
