@model IEnumerable<SqzEvent.Models.Off_Membership_Bind>

@foreach (var item in Model)
{
    if (item.Bind)
    {
        <option value="@item.Id">@Html.Encode(item.Off_Seller.Off_Store.StoreName)</option>
    }
    else
    {
        <option value="@item.Id">未绑定</option>
    }
}
