
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">促销员 提报销量</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="seller-report">
        <div class="page-content">
            @if (ViewBag.Report != null)
            {
                <div class="content-block-title">选择日期</div>

                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true">
                                @Html.DropDownList("reportlist", ViewBag.Report as SelectList)
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">提报时间</div>
                                        <div class="item-after"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else {
                <div class="content-block-title">暂无须填写的销量报表</div>
            }
            <div id="report-content"></div>
        </div>
    </div>
</div>