@model SqzEvent.Models.Wx_ReportItemsViewModel

<div class="list-block">
    <ul>
        @foreach (var item in Model.ProductList)
        {
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">@Html.Encode(item.SimpleName)</div>
                        <div class="item-input">
                            <input type="number" name="storage_@item.ProductId" id="storage_@item.ProductId" value="@item.Storage" placeholder="库存数量" required="true" />
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <span id="productcode-list" class="hidden">@ViewBag.productCodelist</span>
</div>
