
@{
    Layout = "~/Views/Shared/_WeekendBreak.cshtml";
}

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作失败</h2>
        <p class="weui-msg__desc">当前用户未被授权执行操作！</p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__text">上海寿全斋电子商务有限公司<br />Copyright © 2016-2017 shouquanzhai.cn</p>
        </div>
    </div>
</div>